@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <header>
        <nav class="navbar">
            <div class="nav-left">
                <ul>
                    <li><a href="./Index">Inicio</a></li>
                    <li><a href="./About">Acerca de</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <!-- Botón para abrir el modal de LOGIN -->
                <button type="button" class="btn-login" id="openLoginModalBtn">
                    Iniciar Sesión
                </button>
            </div>
        </nav>
    </header>

    <main>
        <section class="about-section">
            <div class="about-left">
                <h1 class="about-title">
                    <span class="underline">SOBRE</span><br>
                    <span class="underline">NOSOTROS</span>
                </h1>
            </div>
            <div class="about-right">
                <p>
                    Analaura Granados Gómez<br>
                    Valeria Arias Calvo<br>
                    Andrey Villalobos Navarro
                </p>
                <p>Proyecto Relámpago - Curso APSW - IC2025</p>
            </div>
        </section>
    </main>

</body>
</html>
